<!DOCTYPE html>
<html>
  <head>
    <title>Imposter - Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
      }
    </style>
  </head>
  <body>
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                  <p id="message" class="text-white-50 mb-5">Please enter your account information!</p>
                  <form action="/api/auth/register" method="post">
                    <div class="form-outline form-white mb-4">
                      <input name="username" type="username" id="typeUsernameX" class="form-control form-control-lg" />
                      <label class="form-label" for="typeUsernameX">Username</label>
                    </div>
                    <div class="form-outline form-white mb-4">
                      <input name="email" type="email" id="typeEmailX" class="form-control form-control-lg" />
                      <label class="form-label" for="typeEmailX">Email</label>
                    </div>
                    <div class="form-outline form-white mb-4">
                      <input name="password" type="password" id="typePasswordX" class="form-control form-control-lg" />
                      <label class="form-label" for="typePasswordX">Password</label>
                    </div>
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
                  </form>
                </div>
                <div>
                  <p class="mb-0">Already have an account? <a href="/login" class="text-white-50 fw-bold">Login</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script>
    mbox = document.getElementById("message");
    const query = new URLSearchParams(window.location.search);
    if(query.get("status") != null && query.get("message") != null) {
      mbox.classList.remove("text-white-50");
      mbox.classList.add("text-white");
      mbox.classList.add("bg-"+query.get("status"));
      mbox.style = "border-radius: 1rem; width: 70%; margin: auto"
      mbox.innerHTML = query.get("message");
    }
  </script>
</html>
